In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
for dirname, _, filenames in os.walk('C:\python\Data_mining\data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\python\Data_mining\data\credits.csv
C:\python\Data_mining\data\keywords.csv
C:\python\Data_mining\data\links.csv
C:\python\Data_mining\data\links_small.csv
C:\python\Data_mining\data\movies_metadata.csv
C:\python\Data_mining\data\ratings.csv
C:\python\Data_mining\data\ratings_small.csv

In [3]:
credits = pd.read_csv('C:\python\Data_mining\data\credits.csv')
keywords = pd.read_csv('C:\python\Data_mining\data\keywords.csv')
movies = pd.read_csv('C:\python\Data_mining\data\movies_metadata.csv')

In [4]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [5]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [6]:
credits.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [7]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
df_ = movies.drop(['belongs_to_collection', 'homepage', 'imdb_id', 'poster_path', 'status', 'title', 'video'], axis=1)
df_

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Rising and falling between a man and woman,4.0,1.0
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",NaN,9.0,3.0
45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",A deadly game of wits.,3.8,6.0
45464,False,0,[],227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],NaN,0.0,0.0
45465,False,0,[],461257,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,0.0,0.0

In [11]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 45466 non-null  object
 1   budget                45466 non-null  object
 2   genres                45466 non-null  object
 3   id                    45466 non-null  object
 4   original_language     45455 non-null  object
 5   original_title        45466 non-null  object
 6   overview              44512 non-null  object
 7   popularity            45461 non-null  object
 8   production_companies  45463 non-null  object
 9   production_countries  45463 non-null  object
 10  release_date          45379 non-null  object
 11  revenue               45460 non-null  float64
 12  runtime               45203 non-null  float64
 13  spoken_languages      45460 non-null  object
 14  tagline               20412 non-null  object
 15  vote_average          45460 non-null  float64
 16  vote_count            45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 5.9+ MB

In [12]:
for column in df_.columns:
    print(f"Cột {column} có các giá trị duy nhất sau: {df_[column].unique()}")

Cột adult có các giá trị duy nhất sau: ['False' 'True' ' - Written by Ørnås'
 ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.'
 ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']
Cột budget có các giá trị duy nhất sau: ['30000000' '65000000' '0' ... '3417000' '25868826' '1254040']
Cột genres có các giá trị duy nhất sau: ["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]" ...
 "[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]"
 "[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]"
 "[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]"]
Cột id có các giá trị duy nhất sau: ['862' '8844' '15602' ... '67758' '227506' '461257']
Cột original_language có các giá trị duy nhất sau: ['en' 'fr' 'zh' 'it' 'fa' 'nl' 'de' 'cn' 'ar' 'es' 'ru' 'sv' 'ja' 'ko'
 'sr' 'bn' 'he' 'pt' 'wo' 'ro' 'hu' 'cy' 'vi' 'cs' 'da' 'no' 'nb' 'pl'
 'el' 'sh' 'xx' 'mk' 'bo' 'ca' 'fi' 'th' 'sk' 'bs' 'hi' 'tr' 'is' 'ps'
 'ab' 'eo' 'ka' 'mn' 'bm' 'zu' 'uk' 'af' 'la' 'et' 'ku' 'fy' 'lv' 'ta'
 'sl' 'tl' 'ur' 'rw' 'id' 'bg' 'mr' 'lt' 'kk' 'ms' 'sq' nan '104.0' 'qu'
 'te' 'am' 'jv' 'tg' 'ml' 'hr' 'lo' 'ay' 'kn' 'eu' 'ne' 'pa' 'ky' 'gl'
 '68.0' 'uz' 'sm' 'mt' '82.0' 'hy' 'iu' 'lb' 'si']
Cột original_title có các giá trị duy nhất sau: ['Toy Story' 'Jumanji' 'Grumpier Old Men' ... 'Siglo ng Pagluluwal'
 'Satana likuyushchiy' 'Queerama']
Cột overview có các giá trị duy nhất sau: ["Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."
 "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures."
 "A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max."
 ...
 'When one of her hits goes wrong, a professional assassin ends up with a suitcase full of a million dollars belonging to a mob boss ...'
 "In a small town live two brothers, one a minister and the other one a hunchback painter of the chapel who lives with his wife. One dreadful and stormy night, a stranger knocks at the door asking for shelter. The stranger talks about all the good things of the earthly life the minister is missing because of his puritanical faith. The minister comes to accept the stranger's viewpoint but it is others who will pay the consequences because the minister will discover the human pleasures thanks to, ehem, his sister- in -law… The tormented minister and his cuckolded brother will die in a strange accident in the chapel and later an infant will be born from the minister's adulterous relationship."
 '50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.']
Cột popularity có các giá trị duy nhất sau: [21.946943 17.015539 11.7129 ... '0.903007' '0.003503' '0.163015']
Cột production_companies có các giá trị duy nhất sau: ["[{'name': 'Pixar Animation Studios', 'id': 3}]"
 "[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"
 "[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]"
 ...
 "[{'name': 'Westdeutscher Rundfunk (WDR)', 'id': 7025}, {'name': 'Working Title Films', 'id': 10163}, {'name': '20th Century Fox Television', 'id': 16323}, {'name': 'CanWest Global Communications', 'id': 38978}]"
 "[{'name': 'Sine Olivia', 'id': 19653}]"
 "[{'name': 'Yermoliev', 'id': 88753}]"]
Cột production_countries có các giá trị duy nhất sau: ["[{'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"
 ...
 "[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'SK', 'name': 'Slovakia'}]"
 "[{'iso_3166_1': 'CU', 'name': 'Cuba'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]"
 "[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"]
Cột release_date có các giá trị duy nhất sau: ['1995-10-30' '1995-12-15' '1995-12-22' ... '1904-03-05' '1991-05-13'
 '1917-10-21']
Cột revenue có các giá trị duy nhất sau: [3.73554033e+08 2.62797249e+08 0.00000000e+00 ... 1.32861200e+06
 1.26879300e+06 1.41300000e+06]
Cột runtime có các giá trị duy nhất sau: [8.100e+01 1.040e+02 1.010e+02 1.270e+02 1.060e+02 1.700e+02 9.700e+01
 1.300e+02 8.800e+01 7.800e+01 1.920e+02 1.190e+02 1.780e+02 1.360e+02
 9.800e+01 9.000e+01 1.030e+02 1.050e+02 1.240e+02 1.320e+02 1.110e+02
 1.120e+02 1.230e+02 1.000e+02 1.080e+02 9.900e+01 1.290e+02 5.000e+01
 8.900e+01 1.210e+02 1.220e+02 5.100e+01 1.170e+02 1.160e+02 9.600e+01
 9.300e+01 9.500e+01 1.150e+02 1.370e+02 9.200e+01 8.500e+01 9.100e+01
 1.750e+02 8.700e+01 7.000e+01 1.180e+02 1.020e+02 1.350e+02 1.100e+02
 1.770e+02 1.140e+02 1.130e+02 8.600e+01 1.250e+02 1.400e+02 1.390e+02
 8.200e+01 8.300e+01 1.280e+02 1.090e+02 8.000e+01 1.340e+02 1.070e+02
 9.400e+01 1.450e+02 7.300e+01 0.000e+00 7.700e+01 1.710e+02 1.330e+02
 1.540e+02 1.620e+02 1.420e+02 1.260e+02 1.410e+02 1.800e+02 1.910e+02
 6.100e+01 8.400e+01 1.440e+02 1.310e+02 1.380e+02 1.950e+02 1.870e+02
 7.600e+01 1.200e+02 1.600e+02 1.810e+02 6.000e+01       nan 7.900e+01
 2.500e+01 7.500e+01 7.400e+01 3.000e+01 1.490e+02 7.100e+01 2.380e+02
 2.010e+02 1.670e+02 6.500e+01 1.430e+02 6.400e+01 1.740e+02 1.470e+02
 1.510e+02 6.900e+01 6.000e+00 6.200e+01 1.610e+02 2.160e+02 1.530e+02
 1.680e+02 2.000e+02 2.300e+01 2.290e+02 1.930e+02 1.630e+02 6.800e+01
 1.720e+02 1.830e+02 2.120e+02 2.870e+02 1.590e+02 1.500e+02 2.420e+02
 7.200e+01 1.550e+02 1.940e+02 4.400e+01 1.760e+02 1.520e+02 2.070e+02
 1.640e+02 1.690e+02 1.970e+02 1.880e+02 8.000e+00 5.200e+01 6.300e+01
 1.800e+01 1.820e+02 6.700e+01 1.840e+02 1.980e+02 1.560e+02 2.700e+01
 1.570e+02 1.480e+02 1.580e+02 1.890e+02 1.460e+02 5.600e+01 2.020e+02
 3.300e+01 1.650e+02 5.000e+00 2.980e+02 4.200e+01 2.540e+02 1.990e+02
 2.170e+02 2.480e+02 1.730e+02 5.300e+01 4.000e+01 4.500e+01 4.600e+01
 3.800e+01 2.700e+02 3.700e+01 2.190e+02 1.850e+02 5.400e+01 5.800e+01
 2.080e+02 5.500e+01 1.790e+02 2.030e+02 2.140e+02 2.390e+02 2.240e+02
 1.860e+02 5.700e+01 5.660e+02 5.900e+01 4.900e+01 6.600e+01 2.200e+02
 2.830e+02 2.730e+02 3.200e+02 3.660e+02 2.250e+02 2.920e+02 1.660e+02
 2.800e+01 2.000e+01 2.400e+01 4.100e+01 2.600e+01 3.150e+02 2.360e+02
 2.460e+02 3.200e+01 1.600e+01 2.900e+01 2.410e+02 2.050e+02 4.220e+02
 3.170e+02 3.600e+02 2.060e+02 3.400e+02 7.200e+02 4.300e+01 2.860e+02
 4.170e+02 2.100e+02 4.800e+01 4.700e+01 3.500e+01 2.670e+02 2.510e+02
 1.400e+01 4.500e+02 3.100e+01 2.040e+02 1.900e+02 3.520e+02 2.000e+00
 2.210e+02 3.400e+01 1.200e+01 2.370e+02 2.550e+02 3.900e+01 3.160e+02
 2.130e+02 3.320e+02 1.500e+01 5.010e+02 5.520e+02 2.500e+02 2.450e+02
 9.310e+02 3.990e+02 2.350e+02 9.250e+02 2.600e+02 2.230e+02 1.300e+01
 7.000e+00 2.520e+02 3.000e+00 9.000e+00 4.420e+02 2.400e+02 2.640e+02
 2.300e+02 3.450e+02 3.000e+02 2.200e+01 2.340e+02 3.570e+02 2.710e+02
 1.100e+01 2.100e+01 3.380e+02 1.000e+01 1.000e+00 1.900e+01 2.150e+02
 1.700e+01 4.100e+02 3.360e+02 4.000e+00 2.720e+02 2.810e+02 2.630e+02
 2.890e+02 6.800e+02 3.600e+01 3.700e+02 8.740e+02 1.140e+03 4.000e+02
 3.920e+02 4.850e+02 2.770e+02 6.000e+02 5.510e+02 2.880e+02 3.340e+02
 2.440e+02 4.700e+02 2.910e+02 1.960e+02 1.256e+03 2.850e+02 2.330e+02
 2.940e+02 2.820e+02 5.610e+02 2.650e+02 3.860e+02 8.770e+02 2.580e+02
 5.400e+02 9.000e+02 2.320e+02 4.640e+02 2.110e+02 6.690e+02 4.760e+02
 3.950e+02 2.900e+02 4.520e+02 3.130e+02 3.590e+02 5.000e+02 8.400e+02
 5.850e+02 3.630e+02 4.400e+02 6.440e+02 3.890e+02 2.220e+02 5.430e+02
 2.270e+02 4.680e+02 4.320e+02 2.680e+02 3.210e+02 5.230e+02 3.880e+02
 3.500e+02 4.800e+02 3.110e+02 5.500e+02 4.630e+02 3.830e+02 4.360e+02
 2.470e+02 3.530e+02 2.090e+02 3.060e+02 2.990e+02 3.490e+02 3.300e+02
 7.050e+02 5.830e+02 2.750e+02 7.800e+02]
Cột spoken_languages có các giá trị duy nhất sau: ["[{'iso_639_1': 'en', 'name': 'English'}]"
 "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]"
 "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"
 ...
 "[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]"
 "[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'pl', 'name': 'Polski'}]"
 "[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'iso_639_1': 'en', 'name': 'English'}]"]
Cột tagline có các giá trị duy nhất sau: [nan 'Roll the dice and unleash the excitement!'
 'Still Yelling. Still Fighting. Still Ready for Love.' ...
 'Do you know what happened 50 years before "The Blair Witch Project"?'
 'Rising and falling between a man and woman' 'A deadly game of wits.']
Cột vote_average có các giá trị duy nhất sau: [ 7.7  6.9  6.5  6.1  5.7  6.2  5.4  5.5  6.6  7.1  7.8  7.2  6.4  6.
  6.3  7.   7.4  7.6  6.8  7.3  3.5  6.7  8.1  5.9  5.2  3.   5.8  4.5
  4.4  2.8  4.1  5.1  3.9  7.5  0.   7.9  5.6  3.3  5.3  4.3  3.8  5.
  4.  10.   4.9  4.6  4.7  2.5  4.8  8.2  8.3  8.5  8.   2.   3.4  3.7
  4.2  3.6  2.7  3.2  2.9  9.   9.3  8.8  8.7  1.5  1.7  3.1  1.   8.4
  2.4  8.6  8.9  1.2  1.6  2.3  1.3  1.9  0.5  2.1  2.6  9.1  1.8  9.5
  9.2  9.6  2.2  nan  1.4  9.8  9.4  0.7  1.1]
Cột vote_count có các giá trị duy nhất sau: [5415. 2413.   92. ... 2083. 2002. 2712.]

In [13]:
valid_values = ['True', 'False']
df_ = df_[df_['adult'].isin(valid_values)]

df_['budget'] = pd.to_numeric(df_['budget'], errors='coerce')
df_['id'] = pd.to_numeric(df_['id'], errors='coerce')
df_['popularity'] = pd.to_numeric(df_['popularity'], errors='coerce')

df_['release_date'] = pd.to_datetime(df_['release_date'], errors='coerce')

df_['vote_average'] = pd.to_numeric(df_['vote_average'], errors='coerce')
df_['vote_count'] = pd.to_numeric(df_['vote_count'], errors='coerce')

In [14]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 45463 non-null  object
 1   budget                45463 non-null  int64
 2   genres                45463 non-null  object
 3   id                    45463 non-null  int64
 4   original_language     45452 non-null  object
 5   original_title        45463 non-null  object
 6   overview              44509 non-null  object
 7   popularity            45460 non-null  float64
 8   production_companies  45460 non-null  object
 9   production_countries  45460 non-null  object
 10  release_date          45376 non-null  datetime64[ns]
 11  revenue               45460 non-null  float64
 12  runtime               45203 non-null  float64
 13  spoken_languages      45460 non-null  object
 14  tagline               20412 non-null  object
 15  vote_average          45460 non-null  float64
 16  vote_count            45460 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(9)
memory usage: 6.2+ MB

In [15]:
df = df_.merge(keywords, on='id').\
    merge(credits, on='id')

df['original_language'] = df['original_language'].fillna('')
df['runtime'] = df['runtime'].fillna(0)
df['tagline'] = df['tagline'].fillna('')

df.dropna(inplace=True)

In [16]:
from ast import literal_eval

def get_text(text, obj='name'):
    text = literal_eval(text)
    
    if len(text) == 1:
        for i in text:
            return i[obj]
    else:
        s = []
        for i in text:
            s.append(i[obj])
        return ', '.join(s)
    
df['genres'] = df['genres'].apply(get_text)
df['production_companies'] = df['production_companies'].apply(get_text)
df['production_countries'] = df['production_countries'].apply(get_text)
df['crew'] = df['crew'].apply(get_text)
df['spoken_languages'] = df['spoken_languages'].apply(get_text)
df['keywords'] = df['keywords'].apply(get_text)

# New columns
df['characters'] = df['cast'].apply(get_text, obj='character')
df['actors'] = df['cast'].apply(get_text)

df.drop('cast', axis=1, inplace=True)
df = df[~df['original_title'].duplicated()]
df = df.reset_index(drop=True)

In [17]:
df

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,...,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,keywords,crew,characters,actors
0,False,30000000,"Animation, Comedy, Family",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,...,373554033.0,81.0,English,,7.7,5415.0,"jealousy, toy, boy, friendship, friends, rival...","John Lasseter, Joss Whedon, Andrew Stanton, Jo...","Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,False,65000000,"Adventure, Fantasy, Family",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,...,262797249.0,104.0,"English, Français",Roll the dice and unleash the excitement!,6.9,2413.0,"board game, disappearance, based on children's...","Larry J. Franco, Jonathan Hensleigh, James Hor...","Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,False,0,"Romance, Comedy",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"Warner Bros., Lancaster Gate",United States of America,...,0.0,101.0,English,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0,"fishing, best friend, duringcreditsstinger, ol...","Howard Deutch, Mark Steven Johnson, Mark Steve...","Max Goldman, John Gustafson, Ariel Gustafson, ...","Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,False,16000000,"Comedy, Drama, Romance",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,...,81452156.0,127.0,English,Friends are the people who let you be yourself...,6.1,34.0,"based on novel, interracial relationship, sing...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...","Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","Whitney Houston, Angela Bassett, Loretta Devin..."
4,False,0,Comedy,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,...,76578911.0,106.0,English,Just When His World Is Back To Normal... He's ...,5.7,173.0,"baby, midlife crisis, confidence, aging, daugh...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na...","George Banks, Nina Banks, Franck Eggelhoffer, ...","Steve Martin, Diane Keaton, Martin Short, Kimb..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42368,False,0,Horror,289923,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.386450,"Neptune Salad Entertainment, Pirie Productions",United States of America,...,0.0,30.0,English,"Do you know what happened 50 years before ""The...",7.0,1.0,"witch, mythology, legend, serial killer, mocku...","Ben Rock, Ben Rock","Branwall, Sarah Didonna, Kyle Brody, Bill Barn...","Monty Bane, Lucy Butler, David Grammer, Bill D..."
42369,False,0,Science Fiction,222848,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,Concorde-New Horizons,United States of America,...,0.0,85.0,English,,3.5,1.0,,"Roger Corman, Mike Elliott, Aaron Osborne, Mik...","Kira (as Cassandra Leigh), Daly, Ruggs, Lewis,...","Lisa Boyle, Kena Land, Zaneta Polard, Don Yana..."
42370,False,0,Drama,111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,...,0.0,360.0,,,9.0,3.0,"artist, play, pinoy","Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, Lav...","Sister Angela, Homer, Crazy Woman/Virgin, Aman...","Angel Aquino, Perry Dizon, Hazel Orencio, Joel..."
42371,False,0,,227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,...,0.0,87.0,,,0.0,0.0,,"Yakov Protazanov, Joseph N. Ermolieff",", , , ,","Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav..."
42372,False,0,,461257,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,,United Kingdom,...,0.0,75.0,English,,0.0,0.0,,Daisy Asquith,,

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42373 entries, 0 to 42372
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 42373 non-null  object
 1   budget                42373 non-null  int64
 2   genres                42373 non-null  object
 3   id                    42373 non-null  int64
 4   original_language     42373 non-null  object
 5   original_title        42373 non-null  object
 6   overview              42373 non-null  object
 7   popularity            42373 non-null  float64
 8   production_companies  42373 non-null  object
 9   production_countries  42373 non-null  object
 10  release_date          42373 non-null  datetime64[ns]
 11  revenue               42373 non-null  float64
 12  runtime               42373 non-null  float64
 13  spoken_languages      42373 non-null  object
 14  tagline               42373 non-null  object
 15  vote_average          42373 non-null  float64
 16  vote_count            42373 non-null  float64
 17  keywords              42373 non-null  object
 18  crew                  42373 non-null  object
 19  characters            42373 non-null  object
 20  actors                42373 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(13)
memory usage: 6.8+ MB

#content-based

In [19]:
R = df['vote_average']
v = df['vote_count']
m = df['vote_count'].quantile(0.8)
C = df['vote_average'].mean()

df['weighted_average'] = (R*v + C*m)/(v+m)

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['popularity', 'weighted_average']])
weighted_df = pd.DataFrame(scaled, columns=['popularity', 'weighted_average'])

weighted_df.index = df['original_title']

In [21]:
weighted_df['score'] = weighted_df['weighted_average']*0.4 + weighted_df['popularity'].astype('float64')*0.6

In [22]:
weighted_df_sorted = weighted_df.sort_values(by='score', ascending=False)
weighted_df_sorted.head(10)

                                popularity  weighted_average     score
original_title
Minions                           1.000000          0.603532  0.841413
Big Hero 6                        0.390602          0.827561  0.565386
Baby Driver                       0.416507          0.727736  0.540998
Guardians of the Galaxy Vol. 2    0.338511          0.794867  0.521054
Pulp Fiction                      0.257449          0.908395  0.517827
Deadpool                          0.343132          0.764657  0.511742
Gone Girl                         0.282748          0.843413  0.507014
The Dark Knight                   0.224968          0.909123  0.498630
Avatar                            0.338036          0.732643  0.495879
John Wick                         0.335843          0.699476  0.481297

In [23]:
content_df = df[['original_title', 'adult', 'genres', 'overview', 'production_companies', 'tagline', 'keywords', 'crew']]

In [24]:
content_df

,original_title,adult,genres,overview,production_companies,tagline,keywords,crew
0,Toy Story,False,"Animation, Comedy, Family","Led by Woody, Andy's toys live happily in his ...",Pixar Animation Studios,,"jealousy, toy, boy, friendship, friends, rival...","John Lasseter, Joss Whedon, Andrew Stanton, Jo..."
1,Jumanji,False,"Adventure, Fantasy, Family",When siblings Judy and Peter discover an encha...,"TriStar Pictures, Teitler Film, Interscope Com...",Roll the dice and unleash the excitement!,"board game, disappearance, based on children's...","Larry J. Franco, Jonathan Hensleigh, James Hor..."
2,Grumpier Old Men,False,"Romance, Comedy",A family wedding reignites the ancient feud be...,"Warner Bros., Lancaster Gate",Still Yelling. Still Fighting. Still Ready for...,"fishing, best friend, duringcreditsstinger, ol...","Howard Deutch, Mark Steven Johnson, Mark Steve..."
3,Waiting to Exhale,False,"Comedy, Drama, Romance","Cheated on, mistreated and stepped on, the wom...",Twentieth Century Fox Film Corporation,Friends are the people who let you be yourself...,"based on novel, interracial relationship, sing...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr..."
4,Father of the Bride Part II,False,Comedy,Just when George Banks has recovered from his ...,"Sandollar Productions, Touchstone Pictures",Just When His World Is Back To Normal... He's ...,"baby, midlife crisis, confidence, aging, daugh...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na..."
...,...,...,...,...,...,...,...,...
42368,The Burkittsville 7,False,Horror,A film archivist revisits the story of Rustin ...,"Neptune Salad Entertainment, Pirie Productions","Do you know what happened 50 years before ""The...","witch, mythology, legend, serial killer, mocku...","Ben Rock, Ben Rock"
42369,Caged Heat 3000,False,Science Fiction,It's the year 3000 AD. The world's most danger...,Concorde-New Horizons,,,"Roger Corman, Mike Elliott, Aaron Osborne, Mik..."
42370,Siglo ng Pagluluwal,False,Drama,An artist struggles to finish his work while a...,Sine Olivia,,"artist, play, pinoy","Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, Lav..."
42371,Satana likuyushchiy,False,,"In a small town live two brothers, one a minis...",Yermoliev,,,"Yakov Protazanov, Joseph N. Ermolieff"
42372,Queerama,False,,50 years after decriminalisation of homosexual...,,,,Daisy Asquith

In [25]:
import re      
import string  

def separate(text):
    clean_text = []
    for t in text.split(','):
        cleaned = re.sub('\(.*\)', '', t) 
        cleaned = cleaned.translate(str.maketrans('','', string.digits))
        cleaned = cleaned.replace(' ', '')
        cleaned = cleaned.translate(str.maketrans('','', string.punctuation)).lower()
        clean_text.append(cleaned)
    return ' '.join(clean_text)

def remove_punc(text):
    cleaned = text.translate(str.maketrans('','', string.punctuation)).lower()
    clean_text = cleaned.translate(str.maketrans('','', string.digits))
    return clean_text

In [26]:
content_df['adult'] = content_df['adult'].apply(remove_punc)
content_df['genres'] = content_df['genres'].apply(remove_punc)
content_df['overview'] = content_df['overview'].apply(remove_punc)
content_df['production_companies'] = content_df['production_companies'].apply(separate)
content_df['tagline'] = content_df['tagline'].apply(remove_punc)
content_df['keywords'] = content_df['keywords'].apply(separate)
content_df['crew'] = content_df['crew'].apply(separate)

content_df['bag_of_words'] = ''
content_df['bag_of_words'] = content_df[content_df.columns[1:]].apply(lambda x: ' '.join(x), axis=1)
content_df.set_index('original_title', inplace=True)

content_df = content_df[['bag_of_words']]
content_df.head()

                                                                  bag_of_words
original_title
Toy Story                    false animation comedy family led by woody and...
Jumanji                      false adventure fantasy family when siblings j...
Grumpier Old Men             false romance comedy a family wedding reignite...
Waiting to Exhale            false comedy drama romance cheated on mistreat...
Father of the Bride Part II  false comedy just when george banks has recove...

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer  # Để sử dụng TfidfVectorizer

content_df = weighted_df_sorted[:10000].merge(content_df, left_index=True, right_index=True, how='left')

tfidf = TfidfVectorizer(stop_words='english', min_df=5)
tfidf_matrix = tfidf.fit_transform(content_df['bag_of_words'])
tfidf_matrix.shape

(10000, 18992)

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(tfidf_matrix)
cos_sim.shape

(10000, 10000)

In [29]:
content_df.head()

,popularity,weighted_average,score,bag_of_words
original_title,,,,
Minions,1.000000,0.603532,0.841413,false family animation adventure comedy minion...
Big Hero 6,0.390602,0.827561,0.565386,false adventure family animation action comedy...
Baby Driver,0.416507,0.727736,0.540998,false action crime after being coerced into wo...
Guardians of the Galaxy Vol. 2,0.338511,0.794867,0.521054,false action adventure comedy science fiction ...
Pulp Fiction,0.257449,0.908395,0.517827,false thriller crime a burgerloving hit man hi...

In [30]:
content_df = content_df.loc[:, ~content_df.columns.str.endswith('_y')]

content_df.columns = content_df.columns.str.replace('_x$', '', regex=True)

In [31]:
content_df.head()

,popularity,weighted_average,score,bag_of_words
original_title,,,,
Minions,1.000000,0.603532,0.841413,false family animation adventure comedy minion...
Big Hero 6,0.390602,0.827561,0.565386,false adventure family animation action comedy...
Baby Driver,0.416507,0.727736,0.540998,false action crime after being coerced into wo...
Guardians of the Galaxy Vol. 2,0.338511,0.794867,0.521054,false action adventure comedy science fiction ...
Pulp Fiction,0.257449,0.908395,0.517827,false thriller crime a burgerloving hit man hi...

In [32]:
def predict(title, similarity_weight=0.7, top_n=10):
    data = content_df.reset_index()
    index_movie = data[data['original_title'] == title].index
    similarity = cos_sim[index_movie].T
    
    sim_df = pd.DataFrame(similarity, columns=['similarity'])
    final_df = pd.concat([data, sim_df], axis=1)
    final_df['final_score'] = final_df['score']*(1-similarity_weight) + final_df['similarity']*similarity_weight
    
    final_df_sorted = final_df.sort_values(by='final_score', ascending=False).head(top_n)
    final_df_sorted.set_index('original_title', inplace=True)
    return final_df_sorted[['score', 'similarity', 'final_score']]

In [33]:
predict('Toy Story', similarity_weight=0.7, top_n=10)

                         score  similarity  final_score
original_title
Toy Story             0.348515    1.000000     0.804555
Toy Story 2           0.317785    0.464943     0.420796
Toy Story 3           0.336500    0.319016     0.324261
Monsters, Inc.        0.340782    0.276105     0.295508
A Bug's Life          0.284638    0.268701     0.273482
Finding Nemo          0.346185    0.234316     0.267876
Minions               0.841413    0.008230     0.258185
Toy Story of Terror!  0.282269    0.236316     0.250102
WALL·E                0.348682    0.194140     0.240502
Up                    0.352328    0.183366     0.234055

#hybrid (content-based + collaborative)

In [34]:
from datetime import datetime

ratings_df = pd.read_csv('C:\\python\\Data_mining\\data\\ratings.csv')

In [35]:
ratings_df

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [36]:
ratings_df['date'] = ratings_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
ratings_df.drop('timestamp', axis=1, inplace=True)

ratings_df = ratings_df.merge(df[['id', 'original_title', 'genres', 'overview']], left_on='movieId',right_on='id', how='left')
ratings_df = ratings_df[~ratings_df['id'].isna()]
ratings_df.drop('id', axis=1, inplace=True)
ratings_df.reset_index(drop=True, inplace=True)

ratings_df.head()

,userId,movieId,rating,date,original_title,genres,overview
0,1,110,1.0,2015-03-10 05:52:09,Trois couleurs : Rouge,"Drama, Mystery, Romance",Red This is the third film from the trilogy by...
1,1,147,4.5,2015-03-10 06:07:15,Les Quatre Cents Coups,Drama,"For young Parisian boy Antoine Doinel, life is..."
2,1,858,5.0,2015-03-10 05:52:03,Sleepless in Seattle,"Comedy, Drama, Romance",A young boy who tries to set his dad up on a d...
3,1,1246,5.0,2015-03-10 05:52:36,Rocky Balboa,Drama,When he loses a highly publicized virtual boxi...
4,1,1968,4.0,2015-03-10 06:02:28,Fools Rush In,"Drama, Comedy, Romance",Alex Whitman (Matthew Perry) is a designer fro...

In [37]:
movies_df = df[['id', 'original_title']]
movies_df.rename(columns={'id':'movieId'}, inplace=True)
movies_df.head()

   movieId               original_title
0      862                    Toy Story
1     8844                      Jumanji
2    15602             Grumpier Old Men
3    31357            Waiting to Exhale
4    11862  Father of the Bride Part II

In [38]:
import tensorflow as tf

ratings_df['userId'] = ratings_df['userId'].astype(str)

ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['userId', 'original_title', 'rating', 'genres', 'overview']]))

movies = tf.data.Dataset.from_tensor_slices(dict(movies_df[['original_title']]))

ratings = ratings.map(lambda x: {
    "original_title": x["original_title"],
    "userId": x["userId"],
    "rating": float(x["rating"]),
    "genres": x["genres"],  
    "overview": x["overview"] 
})

movies = movies.map(lambda x: x["original_title"])

WARNING:tensorflow:From c:\Users\ACER\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [39]:
print('Total Data: {}'.format(len(ratings)))

tf.random.set_seed(42)
shuffled = ratings.shuffle(100_000, seed=42, reshuffle_each_iteration=False)

train = ratings.take(8000000)
test = ratings.skip(8000000).take(2000000)

Total Data: 10969295

In [40]:
movie_titles = movies.batch(1_000)
user_ids = ratings.batch(1_000).map(lambda x: x["userId"])

unique_movie_titles = np.unique(np.concatenate(list(movie_titles)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))

unique_genres = np.unique(np.concatenate(list(train.batch(1_000).map(lambda x: x["genres"]))))
unique_overview = np.unique(np.concatenate(list(train.batch(1_000).map(lambda x: x["overview"]))))

print('Unique Movies: {}'.format(len(unique_movie_titles)))
print('Unique users: {}'.format(len(unique_user_ids)))

Unique Movies: 42373
Unique users: 265509

In [41]:
from typing import Dict, Text
import tensorflow as tf
import tensorflow_recommenders as tfrs

class MovieModel(tfrs.models.Model):

  def __init__(self, rating_weight: float, retrieval_weight: float, unique_movie_titles, unique_user_ids, unique_genres, unique_overview) -> None:
    super().__init__()

    embedding_dimension = 64

    # Movie embedding
    self.movie_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(vocabulary=unique_movie_titles, mask_token=None),
      tf.keras.layers.Embedding(len(unique_movie_titles) + 1, embedding_dimension)
    ])
    
    # User embedding
    self.user_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(vocabulary=unique_user_ids, mask_token=None),
      tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
    ])
    
    # Genre embedding
    self.genre_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(vocabulary=unique_genres, mask_token=None),
      tf.keras.layers.Embedding(len(unique_genres) + 1, embedding_dimension)
    ])
    
    # Genre embedding
    self.overview_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(vocabulary=unique_overview, mask_token=None),
      tf.keras.layers.Embedding(len(unique_overview) + 1, embedding_dimension)
    ])

    # Rating prediction model
    self.rating_model = tf.keras.Sequential([
        tf.keras.layers.Dense(256, activation="relu"),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(1),
    ])

    # Loss and metrics
    self.rating_task: tf.keras.layers.Layer = tfrs.tasks.Ranking(
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.RootMeanSquaredError()],
    )

    self.retrieval_task: tf.keras.layers.Layer = tfrs.tasks.Retrieval(
        metrics=tfrs.metrics.FactorizedTopK(
            candidates=movies.batch(128).map(self.movie_model)
        )
    )

    self.rating_weight = rating_weight
    self.retrieval_weight = retrieval_weight

  def call(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:
    user_embeddings = self.user_model(features["userId"])
    movie_embeddings = self.movie_model(features["original_title"])
    genre_embeddings = self.genre_model(features["genres"])
    overview_embeddings = self.overview_model(features["overview"])  

    combined_embeddings = tf.concat([user_embeddings, movie_embeddings, genre_embeddings, overview_embeddings], axis=1)
    
    rating_predictions = self.rating_model(combined_embeddings)
    
    return user_embeddings, movie_embeddings, rating_predictions


  def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:
    ratings = features.pop("rating")
    user_embeddings, movie_embeddings, rating_predictions = self(features)
    
    rating_loss = self.rating_task(
        labels=ratings,
        predictions=rating_predictions,
    )
    retrieval_loss = self.retrieval_task(user_embeddings, movie_embeddings)
    
    return (self.rating_weight * rating_loss + self.retrieval_weight * retrieval_loss)

In [42]:
model = MovieModel(
    rating_weight=1.0, 
    retrieval_weight=1.0, 
    unique_movie_titles=unique_movie_titles, 
    unique_user_ids=unique_user_ids,
    unique_genres=unique_genres,  
    unique_overview=unique_overview 
)

model.compile(optimizer=tf.keras.optimizers.Adagrad(0.1))

cached_train = train.shuffle(100_000).batch(1_000).cache()
cached_test = test.batch(1_000).cache()

model.fit(cached_train, epochs=10)

WARNING:tensorflow:From c:\Users\ACER\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\ACER\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

Epoch 1/10
8000/8000 [==============================] - 6928s 865ms/step - root_mean_squared_error: 0.9386 - factorized_top_k/top_1_categorical_accuracy: 3.0613e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0186 - factorized_top_k/top_10_categorical_accuracy: 0.0411 - factorized_top_k/top_50_categorical_accuracy: 0.1669 - factorized_top_k/top_100_categorical_accuracy: 0.2584 - loss: 6331.6968 - regularization_loss: 0.0000e+00 - total_loss: 6331.6968
Epoch 2/10
8000/8000 [==============================] - 7112s 889ms/step - root_mean_squared_error: 0.9113 - factorized_top_k/top_1_categorical_accuracy: 6.8475e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0332 - factorized_top_k/top_10_categorical_accuracy: 0.0673 - factorized_top_k/top_50_categorical_accuracy: 0.2249 - factorized_top_k/top_100_categorical_accuracy: 0.3279 - loss: 6010.7026 - regularization_loss: 0.0000e+00 - total_loss: 6010.7026
Epoch 3/10
8000/8000 [==============================] - 7338s 917ms/step - root_mean_squared_error: 0.9036 - factorized_top_k/top_1_categorical_accuracy: 5.0838e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0395 - factorized_top_k/top_10_categorical_accuracy: 0.0782 - factorized_top_k/top_50_categorical_accuracy: 0.2443 - factorized_top_k/top_100_categorical_accuracy: 0.3497 - loss: 5884.5082 - regularization_loss: 0.0000e+00 - total_loss: 5884.5082
Epoch 4/10
8000/8000 [==============================] - 7590s 949ms/step - root_mean_squared_error: 0.8986 - factorized_top_k/top_1_categorical_accuracy: 4.4388e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0440 - factorized_top_k/top_10_categorical_accuracy: 0.0864 - factorized_top_k/top_50_categorical_accuracy: 0.2580 - factorized_top_k/top_100_categorical_accuracy: 0.3647 - loss: 5799.1790 - regularization_loss: 0.0000e+00 - total_loss: 5799.1790
Epoch 5/10
8000/8000 [==============================] - 7886s 986ms/step - root_mean_squared_error: 0.8944 - factorized_top_k/top_1_categorical_accuracy: 5.1638e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0473 - factorized_top_k/top_10_categorical_accuracy: 0.0930 - factorized_top_k/top_50_categorical_accuracy: 0.2686 - factorized_top_k/top_100_categorical_accuracy: 0.3763 - loss: 5735.0693 - regularization_loss: 0.0000e+00 - total_loss: 5735.0693
Epoch 6/10
8000/8000 [==============================] - 8226s 1s/step - root_mean_squared_error: 0.8907 - factorized_top_k/top_1_categorical_accuracy: 6.7188e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0497 - factorized_top_k/top_10_categorical_accuracy: 0.0983 - factorized_top_k/top_50_categorical_accuracy: 0.2769 - factorized_top_k/top_100_categorical_accuracy: 0.3851 - loss: 5685.4538 - regularization_loss: 0.0000e+00 - total_loss: 5685.4538
Epoch 7/10
8000/8000 [==============================] - 8565s 1s/step - root_mean_squared_error: 0.8873 - factorized_top_k/top_1_categorical_accuracy: 8.2737e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0515 - factorized_top_k/top_10_categorical_accuracy: 0.1023 - factorized_top_k/top_50_categorical_accuracy: 0.2833 - factorized_top_k/top_100_categorical_accuracy: 0.3918 - loss: 5646.4722 - regularization_loss: 0.0000e+00 - total_loss: 5646.4722
Epoch 8/10
8000/8000 [==============================] - 8712s 1s/step - root_mean_squared_error: 0.8841 - factorized_top_k/top_1_categorical_accuracy: 9.4175e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0528 - factorized_top_k/top_10_categorical_accuracy: 0.1055 - factorized_top_k/top_50_categorical_accuracy: 0.2882 - factorized_top_k/top_100_categorical_accuracy: 0.3970 - loss: 5615.3753 - regularization_loss: 0.0000e+00 - total_loss: 5615.3753
Epoch 9/10
8000/8000 [==============================] - 9071s 1s/step - root_mean_squared_error: 0.8811 - factorized_top_k/top_1_categorical_accuracy: 0.0010 - factorized_top_k/top_5_categorical_accuracy: 0.0537 - factorized_top_k/top_10_categorical_accuracy: 0.1080 - factorized_top_k/top_50_categorical_accuracy: 0.2921 - factorized_top_k/top_100_categorical_accuracy: 0.4010 - loss: 5590.1444 - regularization_loss: 0.0000e+00 - total_loss: 5590.1444
Epoch 10/10
8000/8000 [==============================] - 9125s 1s/step - root_mean_squared_error: 0.8783 - factorized_top_k/top_1_categorical_accuracy: 0.0011 - factorized_top_k/top_5_categorical_accuracy: 0.0545 - factorized_top_k/top_10_categorical_accuracy: 0.1099 - factorized_top_k/top_50_categorical_accuracy: 0.2951 - factorized_top_k/top_100_categorical_accuracy: 0.4042 - loss: 5569.3141 - regularization_loss: 0.0000e+00 - total_loss: 5569.3141

In [43]:
metrics = model.evaluate(cached_test, return_dict=True)

print(f"\nĐộ chính xác top-100 của việc truy xuất: {metrics['factorized_top_k/top_50_categorical_accuracy']:.3f}")
print(f"RMSE: {metrics['root_mean_squared_error']:.3f}")

2000/2000 [==============================] - 1752s 839ms/step - root_mean_squared_error: 1.0034 - factorized_top_k/top_1_categorical_accuracy: 2.6050e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0018 - factorized_top_k/top_10_categorical_accuracy: 0.0037 - factorized_top_k/top_50_categorical_accuracy: 0.0172 - factorized_top_k/top_100_categorical_accuracy: 0.0326 - loss: 6922.5139 - regularization_loss: 0.0000e+00 - total_loss: 6922.5139

Độ chính xác top-100 của việc truy xuất: 0.017
RMSE: 1.003

In [65]:
def predict_movie(user, top_n=3):
    index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)
    index.index_from_dataset(
      tf.data.Dataset.zip((movies.batch(100), movies.batch(100).map(model.movie_model)))
    )
    _, titles = index(tf.constant([str(user)]))
    
    print('Top {} recommendations for user {}:\n'.format(top_n, user))
    for i, title in enumerate(titles[0, :top_n].numpy()):
        print('{}. {}'.format(i+1, title.decode("utf-8")))

predict_movie(123, 5)

Top 5 recommendations for user 123:

1. 50 First Dates
2. The Empire Strikes Back
3. French Kiss
4. In the Bedroom
5. El espinazo del diablo

In [84]:
def predict_user_rating(user_id, movie_title, model, genres="Unknown", overview="Not provided"):
    try:
        input_data = {
            "userId": np.array([str(user_id)]),          
            "original_title": np.array([movie_title]), 
            "genres": np.array([genres]),             
            "overview": np.array([overview])           
        }
    
        predicted_rating = model(input_data)[2]
        rating_value = predicted_rating.numpy()[0][0]
        
        print(f"Predicted rating for user {user_id} and movie '{movie_title}': {rating_value:.2f}")
        return rating_value
    
    except Exception as e:
        print(f"An error occurred: {e}")
        return None
title = 'La Môme'
predict_user_rating('123', title, model=model, genres='Documentary', overview=ratings_df[ratings_df['original_title'] == title]['overview'].values[0])

Predicted rating for user 123 and movie 'La Môme': 3.98

3.9816382

In [48]:
ratings_df[ratings_df['userId'] == '123']

,userId,movieId,rating,date,original_title,genres,overview
4437,123,21,5.0,2000-09-10 10:11:35,The Endless Summer,Documentary,"The Endless Summer, by Bruce Brown, is one of ..."
4438,123,69,2.0,2000-09-10 10:08:25,Walk the Line,"Drama, Music, Romance",A chronicle of country music legend Johnny Cas...
4439,123,112,3.0,2000-09-10 14:20:43,Italiensk for begyndere,"Comedy, Drama, Romance",This fifth Danish Dogme film is about six vuln...
4440,123,152,2.0,2000-09-10 14:04:32,Star Trek: The Motion Picture,"Science Fiction, Adventure, Mystery",When a destructive space entity is spotted app...
4441,123,163,5.0,2000-09-10 10:22:33,Ocean's Twelve,"Thriller, Crime",Danny Ocean reunites with his old flame and th...
4442,123,196,4.0,2000-09-10 10:04:10,Back to the Future Part III,"Adventure, Comedy, Family, Science Fiction",The final installment of the Back to the Futur...
4443,123,223,5.0,2000-09-10 10:09:37,Rebecca,"Drama, Mystery",A self-conscious bride is tormented by the mem...
4444,123,253,4.0,2000-09-10 14:07:17,Live and Let Die,"Adventure, Action, Thriller",James Bond must investigate a mysterious murde...
4445,123,260,5.0,2000-09-10 14:19:46,The 39 Steps,"Action, Thriller, Mystery","While on vacation in London, Canadian Richard ..."
4446,123,273,5.0,2000-09-10 14:08:59,Das weisse Rauschen,Drama,"Lukas, a young schizophrenic man, has to deal ..."
4447,123,290,3.0,2000-09-10 14:10:36,Barton Fink,"Comedy, Drama",A renowned New York playwright is enticed to C...
4448,123,562,2.0,2000-09-10 10:11:35,Die Hard,"Action, Thriller","NYPD cop, John McClane's plan to reconcile wit..."
4449,123,588,5.0,2000-09-10 10:13:02,Silent Hill,"Horror, Mystery",The eerie and deserted ghost town of Silent Hi...
4450,123,593,5.0,2000-09-10 10:20:42,Солярис,"Drama, Science Fiction, Adventure, Mystery",Ground control has been receiving strange tran...
4451,123,608,5.0,2000-09-10 10:20:04,Men in Black II,"Action, Adventure, Comedy, Science Fiction","Kay and Jay reunite to provide our best, last ..."
4452,123,627,5.0,2000-09-10 10:22:33,Trainspotting,"Drama, Crime","Renton, deeply immersed in the Edinburgh drug ..."
4453,123,919,5.0,2000-09-10 14:19:46,Blood: The Last Vampire,"Fantasy, Animation, Horror, Comedy, Thriller, ...","In Japan, the vampire-hunter Saya, who is a po..."
4454,123,968,5.0,2000-09-10 14:03:50,Dog Day Afternoon,"Crime, Drama, Thriller",A man robs a bank to pay for his lover's opera...
4455,123,1073,5.0,2000-09-10 14:20:20,Arlington Road,"Drama, Thriller, Mystery",Threats from sinister foreign nationals aren't...
4456,123,1089,5.0,2000-09-10 10:04:53,Point Break,"Action, Thriller, Crime","In the coastal town of Los Angeles, a gang of ..."
4457,123,1265,5.0,2000-09-10 10:09:04,Bridge to Terabithia,"Adventure, Drama, Family",Jesse Aarons trained all summer to become the ...
4458,123,1358,5.0,2000-09-10 10:20:04,A Brief History of Time,Documentary,A documentary film based on the life of scient...
4459,123,1387,5.0,2000-09-10 14:01:28,Superstar: The Karen Carpenter Story,"Drama, Music",The final 17 years of American singer and musi...
4460,123,1407,3.0,2000-09-10 10:21:46,La Môme,"Romance, Music, Drama","A swirling, impressionistic portrait of an art..."
4461,123,1440,3.0,2000-09-10 10:06:53,Little Children,"Romance, Drama",The lives of two lovelorn spouses from separat...
4462,123,1667,5.0,2000-09-10 14:18:44,La Marche de l'empereur,"Documentary, Family","Every year, thousands of Antarctica's emperor ..."
4463,123,1824,2.0,2000-09-10 10:06:53,50 First Dates,"Comedy, Romance",Henry is a player skilled at seducing women. B...
4464,123,1883,5.0,2000-09-10 10:09:57,Malcolm X,"Drama, History",The biopic of the controversial and influentia...
4465,123,1994,5.0,2000-09-10 14:01:28,The Most Dangerous Game,"Adventure, Horror, Thriller",When legendary hunter Bob Rainsford is shipwre...
4466,123,2024,5.0,2000-09-10 14:26:31,The Patriot,"Drama, History, War, Action",After proving himself on the field of battle i...
4467,123,2028,4.0,2000-09-10 10:03:32,Say Anything...,"Comedy, Drama, Romance",A budding romance between noble underachiever ...
4468,123,2058,4.0,2000-09-10 10:22:33,Addicted to Love,"Comedy, Romance",Good-natured astronomer Sam is devastated when...
4469,123,2321,4.0,2000-09-10 10:11:35,Married to the Mob,"Comedy, Crime, Romance",Angela de Marco is fed up with her gangster hu...
4470,123,2355,3.0,2000-09-10 10:13:02,Reign Over Me,Drama,A man who lost his family in the September 11 ...
4471,123,2395,4.0,2000-09-10 10:10:53,Astérix aux Jeux Olympiques,"Fantasy, Adventure, Comedy, Family",Astérix and Obélix have to win the Olympic Gam...
4472,123,2455,5.0,2000-09-10 14:04:32,Vivement dimanche!,"Drama, Comedy, Crime",Claude Massoulier is murdered while hunting at...
4473,123,2539,3.0,2000-09-10 10:04:53,Spanglish,Comedy,Mexican immigrant and single mother Flor Moren...
4474,123,2654,5.0,2000-09-10 14:03:50,In the Mouth of Madness,"Horror, Mystery, Thriller",With the disappearance of hack horror writer S...
4475,123,2762,5.0,2000-09-10 10:20:04,Young and Innocent,"Drama, Crime",Derrick De Marney finds himself in a 39 Steps ...
4476,123,2789,5.0,2000-09-10 14:08:21,The Chronicles of Riddick,"Action, Science Fiction",After years of outrunning ruthless bounty hunt...
4477,123,3476,5.0,2000-09-10 14:03:50,L'important c'est d'aimer,"Drama, Romance","Servais Mont, a photographer, meets Nadine Che..."